{% extends 'base.html' %}

{% block content %}

<!-- body  -->
<div class="container-fluid mt-3 col-lg-9 bg-white" style="padding:20px">
	<img src="https://i.ibb.co/G3GS4J8/Mater.png">
	<div>
		<p>Пух – перо с мягким стержнем и слаборазвитым опахалом. </p>
		<p>Его строение и переплетение мельчайших волокон удерживает воздух, создавая теплоизоляцию. Пушинки маленькие, практически не имеют жестких элементов, потому легкие. Такой утеплитель быстро восстанавливает начальный объем после сжатия.Бамбуковое волокно стали использовать в конце прошлого века. Сейчас из него делают постельные принадлежности, в том числе бамбуковое одеяло. Оно очень лёгкое и экологичное. Под ним приятно спать летом, во многих случаях и зимой.Хлопок является одним из самых популярных материалов в мире. Он существует на каждом континенте, и каждый народ им пользуется. Имеет он многовековую историю, до сих пор остается популярным благодаря своим уникальным свойствам и удобным для человека характеристикам.Мягкая ткань способна удовлетворить потребности разных людей, она обладает рядом полезных характеристик: от длины волокна зависит плотность и прочность. Хлопок — натуральная ткань, которую получают из специального растения — хлопчатника, используя его плоды.</p>
		<p>Сделать из прядильного растения нить — задача не из легких, она с древних времен сопровождалась особыми традициями и обрядами.Шелк – ценная ткань, которая известна во всем мире своим мягким блеском, уникальной гладкостью и высокой прочностью. Именно из натурального шелка в древности изготавливались одеяния королей и знатных вельмож.</p>
		<p>Сейчас драгоценный материал доступен всем: из него делают великолепные наряды и обувь, роскошные украшения для интерьера и ценный домашний текстиль.Лен — уникальное растение. Его используют в пищу, из льна делают самую легкую одежду, а белье лучше всего подходит для дома – как постельное белье, покрывало, скатерть и полотенца.</p>
	</div>
</div>



{% endblock %}